{% extends 'layout.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h1>Create new Blog</h1>

    {{ include('blog/_form.html.twig') }}
    <br/>
    <a href="{{ path('app_user_blog_index') }}"><button class="btn-success">back to list</button></a>
{% endblock %}
